<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :address, class: 'form-label' %>
      <%= form.text_field :address, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :industry, class: 'form-label' %>
      <%= form.text_field :industry, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :website, class: 'form-label' %>
      <%= form.text_field :website, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :year, class: 'form-label' %>
      <%= form.number_field :year, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if company.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', company, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if company.persisted? %>
      <%= link_to "Cancel", company, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", companies_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
