


<div class="row">
  <div class="col-sm-6">
    <h1>Companies</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_company_path, class: 'btn btn-primary' do %>
    Add New Company
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Address</th>
            <th>Industry</th>
            <th>Website</th>
            <th>Year</th>
            
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <%= content_tag :tr, id: dom_id(company), class: dom_class(company) do %>
          
            <td><%= link_to company.name, company %></td>
          

                      <td><%= company.address %></td>
                      <td><%= company.industry %></td>
                      <td><%= company.website %></td>
                      <td><%= company.year %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
