<div class="container">
  <h1 class="my-4">Editors</h1>

  <div class="mb-4">
    <%= link_to "New Editor", new_editor_path, class: "btn btn-primary" %>
  </div>

  <div class="row">
    <% @editors.each do |editor| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= editor.title %></h5>
            <%= link_to "View", editor_path(editor), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to "Edit", edit_editor_path(editor), class: "btn btn-sm btn-outline-secondary" %>
            <%= button_to "Delete", editor_path(editor), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
